<!DOCTYPE html>
<html>
<head>
    <title>Sales Statistics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Sales Statistics</h1>
    <canvas id="salesChart"></canvas>

    <script>
        var ctx = document.getElementById('salesChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in sales_data %} "{{ item.month_name }}-{{ item.year }}", {% endfor %}],
                datasets: [{
                    label: 'Total Sales Quantity',
                    data: [{% for item in sales_data %} {{ item.total_quantity }}, {% endfor %}],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    
</body>
</html>
