<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    {% block content %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6 mx-auto"> <!-- Added mx-auto class for horizontal centering -->
          <div class="card">
            <div class="card-header bg-danger text-white">
              <h2 class="m-0">Block Customer</h2>
            </div>
            <div class="card-body">
              <p>Are you sure you want to block the customer "{{ customer.name }}"?</p>
            </div>
            <div class="card-footer text-center">
              <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Block</button>
                <a class="btn btn-secondary" href="{% url 'view_customer' %}">Cancel</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    $(document).ready(function() {
      // Disable caching
      $.ajaxSetup({ cache: false });
  });
  window.onpageshow = function(event) {
      // Check if the page is loaded from the cache
      if (event.persisted) {
          // Page is loaded from cache (back button was used)
          window.location.reload(); // Refresh the page
      }
  };
</script>
    {% endblock content %}
    